<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Form Validation</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="libs/vuelidate.min.js"></script>
  <script src="libs/validators.min.js"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
  <h1>Form Validation</h1>
  <form @submit.prevent="submitForm" autocomplete="off">
    <div class="form-group">
      <label for="name">Name:</label>
      <input v-model="form.name"
             @blur="$v.form.name.$touch()"
             :class="{error: shouldAppendErrorClass($v.form.name), valid: shouldAppendValidClass($v.form.name)}"
             id="name"
      >
      <p v-if="$v.form.name.$error" class="error-message">The name field is required</p>
    </div>

    <div class="form-group">
      <label for="age">Age:</label>
      <input v-model.number="form.age"
             @blur="$v.form.age.$touch()"
             :class="{error: shouldAppendErrorClass($v.form.age), valid: shouldAppendValidClass($v.form.age)}"
             id="age"
      >
      <div v-if="$v.form.age.$error">
        <p v-if="!$v.form.age.required" class="error-message">The age field is required</p>
        <p v-else-if="!$v.form.age.integer" class="error-message">The age field should be an integer</p>
        <p v-else-if="!$v.form.age.between" class="error-message">You should be at least 12 and younger than 120 to continue</p>
      </div>
    </div>


    <div class="form-group">
      <label for="email">Email:</label>
      <input v-model="form.email"
             @blur="$v.form.email.$touch()"
             :class="{error: shouldAppendErrorClass($v.form.email), valid: shouldAppendValidClass($v.form.email)}"
             id="email"
      >
      <p v-if="!$v.form.email.email && $v.form.email.$error" class="error-message">Invalid email address</p>
    </div>

    <div>
      <button>Submit</button>
    </div>
  </form>
</div>

<script src="app.js"></script>
</body>
</html>